{% extends 'accounts/base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 login-section-wrapper" style="padding-top: 25px;">
                    <div class="brand-wrapper">
                        <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
                    </div>
                    <div class="login-wrapper my-auto">
                        <h1 class="login-title">Reset Password</h1>
                        <form action="" method="post">
                        {% csrf_token %}
                            <div class="form-group mb-4">
                                <label for="id_new_password1">New Password</label>
                                {% render_field form.new_password1 class="form-control" placeholder="Enter New Password" autofocus="autofocus" required="required" minlength="8"%}
                            </div>
                            <div class="form-group mb-4">
                                <label for="id_new_password2">Confirm New Password</label>
                                {% render_field form.new_password2 class="form-control" placeholder="Confirm New Password" required="required" %}
                            </div>
                            {% if form.new_password1.errors %}
                                <p class="small mx-auto" style="color: red;">{{ form.new_password1.errors }}</p>
                            {% endif %}
                            {% if form.new_password2.errors %}
                                <p class="small mx-auto" style="color: red;">{{ form.new_password2.errors }}</p>
                            {% endif %}
                            <div class="d-grid">
                            <button id="login" class="btn btn-block login-btn" type="submit">Reset Password</button>
                            </div>
                        </form>
                        <p class="login-wrapper-footer-text">Don't have an account? <a href="{% url 'register' %}" class="text-reset">Register here</a></p>
                    </div>
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="{% static 'images/login1.jpg' %}" alt="login image" class="login-img">
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
