{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 login-section-wrapper">
                    <div class="brand-wrapper">
                        <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
                    </div>
                    <div class="login-wrapper my-auto">
                        <h1 class="login-title">Log in</h1>
                        <form action="" method="post">
                            {% csrf_token %}

                            {% if email and password %}
                                <div class="form-group mb-4">
                                    <label for="email">Email</label>
                                    <input type="email" value="{{ email }}" name="email" id="email" class="form-control"
                                           placeholder="johndoe@1567" autofocus required>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" value="{{ password }}" name="password" id="password"
                                           class="form-control" placeholder="Enter your passsword" required>
                                </div>

                            {% else %}
                                <div class="form-group mb-4">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="johndoe@1567" autofocus required>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" class="form-control"
                                           placeholder="Enter your passsword" required>
                                </div>
                            {% endif %}

                            {% if messages %}
                                {% for message in messages %}
                                    <p class="small mx-auto" style="color: red;">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                            <div class="custom-control custom-checkbox">
                                <input name="remmember" type="checkbox" class="custom-control-input mb-4"
                                       style="height: 16px;width: 17px;" id="customCheck1">
                                <label style="font-size: 1rem;font-weight: bold;color: #b0adad;"
                                       class="custom-control-label" for="customCheck1">Remmember Me </label>
                            </div>
                            <div class="d-grid">
                                <button id="login" class="btn btn-block login-btn" type="submit">Login</button>
                            </div>
                        </form>
                        <a href="#!" class="forgot-password-link">Forgot password?</a>
                        <p class="login-wrapper-footer-text">Don't have an account? <a href="{% url 'register' %}"
                                                                                       class="text-reset">Register
                            here</a></p>
                    </div>
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="{% static 'images/login1.jpg' %}" alt="login image" class="login-img">
                </div>
            </div>
        </div>
    </main>

{% endblock content %}
